@import "../colors";

.dayview {
	display: grid;
	grid-auto-columns: 1fr;
	column-gap: 10px;
	min-height: 0;
	height: 100%;
}

.dayview-item {
	margin: 2px 0px;
	padding-left: 3px;
	background-color: #1e70f0;
	min-height: 0px;
	// border: 1px solid lightblue; 
	border-radius: 10px;
}